body{
    background-color: #d3d3d3;
    font-family: "Arial", "Sans Serif";
    
}
.page-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page{
    width: 97%;
    background-color: white;
    border: solid black 0.01rem;
    display: grid;
}

.page-inner{
    margin-left: 2vw;
    margin-right: 2vw;
}
@media (max-height: 1024px){
}

h1{
    font-size: 5rem;
    margin-bottom: 0;
}

h2{
    font-size: 2rem;
    font-weight: normal;
}
p{
    font-size: 1rem;
}

.p1{
    width: 37%;
}

.p2{
    width: 80;
}

.sect1{
    width: 100%;
}

.sect2{
    display: grid;
}