@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Protest+Guerrilla:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
  font-family: "Josefin Sans", sans-serif;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body h1, body h2 {
  font-family: "Protest Guerrilla", sans-serif;
}
body a {
  color: black;
  text-decoration: none;
}
body .sect1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body .sect2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .nav, body .nav a {
  color: black;
}
body p {
  font-size: 1.25rem;
}
body .p1 {
  padding: 0;
}
body .page-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
body .author-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  padding: 20px;
  background-color: #ffffff;
}
body .author-section .author-details {
  flex: 2;
}
body .author-section .author-details h3 {
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 3rem;
  margin-bottom: 12px;
}
body .author-section .author-details p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: #333;
}
body .author-section .author-profile {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .author-section .author-profile .profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #ccc;
}
body footer {
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #14181d;
  width: 100%;
}
@media (min-width: 1024px) {
  body {
    padding: 50px;
  }
  body .page {
    border: solid black 0.01rem;
    background-color: #ffffff;
    padding: 50px;
    width: 61.5%;
  }
  body h1, body h2 {
    text-align: left;
  }
  body .logo, body .logo img {
    width: 200px;
  }
  body .logo {
    padding-top: 50px;
  }
  body .album-layout {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 600px;
    width: 100%;
    padding-top: 50px;
  }
  body .album-layout .featured-album {
    position: relative;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-content: center;
    align-items: center;
  }
  body .album-layout .album-cover {
    position: relative;
    overflow: hidden;
  }
  body .album-layout .featured-album img {
    position: absolute;
    place-items: center;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .album-layout .album-cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .sect2 {
    display: table-column;
    -moz-column-count: 3;
         column-count: 3; /* Number of sections (columns) */
    -moz-column-gap: 13.2px;
         column-gap: 13.2px; /* Spacing between columns */
    width: 100%; /* Adjust as needed */
    margin: 0 auto; /* Center the div on the page */
    text-align: left;
  }
  body .nav {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 15vw;
         column-gap: 15vw;
    font-size: 1rem;
  }
  body .nav a {
    font-size: 1rem;
  }
  body .p1 {
    width: 62%;
  }
  body h1 {
    font-size: 8rem;
  }
  body h2 {
    font-size: 3.75rem;
  }
  body .sect1 h2 {
    width: 100%;
  }
  body .author-section {
    margin: 50px 0;
    padding: 50px;
  }
  body .author-section .author-details h3 {
    font-size: 3rem;
  }
  body .author-section .author-details p {
    font-size: 1.2rem;
  }
  body .author-section .author-profile .profile-picture {
    width: 200px;
    height: 200px;
  }
  body footer {
    padding: 50px;
    font-size: 1.2rem;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  body {
    padding: 30px;
  }
  body .page {
    border: solid black 0.01rem;
    background-color: #ffffff;
    padding: 30px;
    width: 80%;
  }
  body h1, body h2 {
    text-align: center;
  }
  body h2 {
    font-size: 2rem;
  }
  body .sect1 h2 {
    width: 70%;
  }
  body .logo, body .logo img {
    width: 80px;
  }
  body .logo {
    padding-top: 30px;
  }
  body .album-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 550px;
    width: 99%;
    padding-top: 50px;
  }
  body .album-layout .featured-album {
    display: none;
  }
  body .album-layout .album-cover {
    position: relative;
    overflow: hidden;
  }
  body .album-layout .featured-album img {
    position: absolute;
    place-items: center;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: none;
  }
  body .album-layout .album-cover img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .nav {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 15vw;
         column-gap: 15vw;
  }
  body .nav a {
    font-size: 1rem;
  }
  body .sect1 h2 {
    width: 100%;
  }
  body .author-section {
    padding: 30px;
  }
  body .author-section .author-details h3 {
    font-size: 2.5rem;
  }
  body .author-section .author-details p {
    font-size: 1.1rem;
  }
  body .author-section .author-profile .profile-picture {
    width: 200px;
    height: 200px;
  }
  body footer {
    padding: 30px;
    font-size: 1rem;
  }
}
@media (min-width: 360px) and (max-width: 720px) {
  body {
    padding: 20px;
  }
  body .sect1 {
    align-items: center;
  }
  body .sect1 h2 {
    width: 100%;
  }
  body .page {
    border: solid black 0.01rem;
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
  }
  body h1, body h2 {
    text-align: center;
  }
  body .logo, body .logo img {
    width: 80px;
  }
  body .logo {
    padding-top: 20px;
  }
  body .album-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 20px;
  }
  body .album-layout .album-cover {
    position: relative;
    overflow: hidden;
  }
  body .album-layout .album-cover img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .album-layout .featured-album {
    display: none;
  }
  body .nav {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 15vw;
         column-gap: 15vw;
  }
  body .nav a {
    font-size: 1rem;
  }
  body h1 {
    font-size: 2.05rem;
  }
  body h2 {
    font-size: 2rem;
  }
  body .sect1 h2 {
    width: 70%;
  }
  body .author-section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
  }
  body .author-section .author-profile {
    margin-bottom: 20px;
  }
  body .author-section .author-details {
    text-align: center;
  }
  body .author-section .author-details h3 {
    font-size: 1.8rem;
  }
  body .author-section .author-details p {
    font-size: 0.9rem;
  }
  body .author-section .author-profile .profile-picture {
    width: 200px;
    height: 200px;
  }
  body footer {
    padding: 20px;
    font-size: 0.9rem;
  }
}
@media (min-width: 360px) and (max-width: 540px) {
  body .logo {
    padding: 12px;
  }
  body .page {
    padding: 12px;
  }
  body h1, body h2 {
    text-align: center;
  }
  body h2 {
    font-size: 2rem;
  }
  body .sect1 h2 {
    width: 70%;
  }
  body .nav {
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 8vw;
         column-gap: 8vw;
  }
  body .nav a {
    font-size: 1rem;
  }
  body .sect1 h2 {
    width: 80%;
  }
  body .sect1 {
    align-items: center;
  }
  body .author-section {
    flex-direction: column-reverse;
    align-items: center;
    padding: 12px;
  }
  body .author-section .author-profile {
    margin-bottom: 12px;
  }
  body .author-section .author-details {
    text-align: center;
  }
  body .author-section .author-details h3 {
    font-size: 1.8rem;
  }
  body .author-section .author-details p {
    font-size: 0.9rem;
  }
  body .author-section .author-profile .profile-picture {
    width: 200px;
    height: 200px;
  }
  body footer {
    padding: 12px;
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=Task 1.css.map */